@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 1366px;
    height: 3651px;
    background-color: #ffffff;
    z-index: -4;
}
body {
    width: 1366px;
    height: 3651px;
    position: relative; 
}

.nav-container {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    height: 120px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: transparent;
}

.links {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    display: flex;
    left: 305px;
    margin-right: 35px;
}

.BlackLogo {
    margin-left: 64px;
    align-self: center;
    position: absolute;
    top: 5px;
    z-index: 1000;
}

ul {
    position: absolute;
    top: 51px;
    left: 305px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 3;
}
.Language-change{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 51px;
    right: 62px;
    list-style-type: none;
    border: none;
    z-index: 3;
    background-color: transparent;
}
.imgs {
    left: 0;
    top: -100px;
    width: 1366px;
    height: 722px;
    position: relative;
    
}
.play-button {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: none;
    background-color: transparent;
    padding: 0;
}

.middletext{
    font-family: 'Montserrat', sans-serif;
    font: regular;
    font-size: 18px;
    color: #000000;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 16px;
    text-align: center;
}
.union2nd {  
    position: relative;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
}

.image-container {
    display: inline-block;
    top: 1269px;
    position: absolute;
    z-index: 0;
}
.first{
    position: absolute;
    top: 30px;
    left: 0;
}
.secound{
    position: absolute;
    top: 20px;
    left: 328px;
}
.third{
    position: absolute;
    top: 20px;
    left: 662px;
}
.fourth{
    position: absolute;
    top: 200px;
    left: 662px;
}
.five{
    position: absolute;
    top: 1px;
    left: 960.45px;
}
.closing-paper{
    position: absolute;
    top: 1600px;
    left: 0;
    z-index: 0;
    margin: 0;
}
.first-text{
    position: absolute;
    top: 1731px;
    left: 220px;
}
.first-button{
    position: relative;
    top: 500px;
    left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    border: none;
    background-color: #FFA800;
    color: #FFFFFF;
    width: 233px;
    height: 50px;
    border-radius: 30px;
}
.secound-text{
    position: absolute;
    top: 1731px;
    left: 730px;
    margin: 0;
}
.Secound-button{
    position: relative;
    top: 500px;
    left: 595px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    border: none;
    background-color: #FFA800;
    color: #FFFFFF;
    width: 233px;
    height: 50px;
    border-radius: 30px;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #2F4858;
    margin: 0;
}
.form-title{
    position: absolute;
    top: 2010px;
    left: 533px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #2F4858;
}
.user-details{
    position: absolute;
    top: 2113px;
    left: 377px;
}
.first-input{
    position: relative;
    width: 296px;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.015em;
    color: #2F4858;
    padding-left: 12px;
}
.secound-input{
    position: relative;
    top: 0px;
    left: 2px;
    width: 296px;
    height: 43px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.015em;
    color: #2F4858;
    padding-left: 12px;
}
.third-input{
    position: relative;
    width: 612px;
    height: 43px;
    left: 0px;
    top: 15px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.015em;
    color: #2F4858;
    padding-left: 12px;
}
.forth-input{
    position: relative;
    width: 612px;
    height: 232px;
    left: 0px;
    top: 30px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.015em;
    color: #2F4858;
    padding-left: 12px;
    padding-top: 12px;
    text-align: left;
}
.obligati{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2F4858;
    top: 15px;
}
.check{
    position: relative;
    width: 16px;
    height: 16px;
    background: #E7E7E7;
    border-radius: 3px;
}
.check-text{
    position: absolute;
    left: 21px;
    top: 415px;
    font-family: 'Montserrat';
    font-style: normal;
    left: 30px;
    font-size: 14px;
    color: #2F4858;
}
.submit-button{
    position: relative;
    top: 100px;
    left: 190px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    border: none;
    background-color: #FFA800;
    color: #FFFFFF;
    width: 182px;
    height: 62px;
    border-radius: 30px;
}
.atbalstītāji{
    position: relative;
    top: 1500px;
    left: 0;
    z-index: 0;
    margin: 0;
}
.atbalstītāji-text{
    position: absolute;
    top: 100px;
    left: 612px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #2F4858;
    margin: 0;
}
.sponsor-logos{
    position: absolute;
    top: 218px;
    left: 168px;
    z-index: 0;
    margin: 0;
}
.sponsor-logos img:not(:last-child) {
    margin-right: 85px;
}
.bottom-container{
    position: relative;
    top: 1460px;
    left: 0;
    z-index: 0;
    margin: 0;
    background-color: transparent;
}
.footer-logo{
    position: absolute;
    top: 73px;
    left: 62px;
    margin: 0;
}
.copyrights{
    position: absolute;
    top: 325px;
    left: 62px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.navbar-footer {
    display: block;
    position: absolute;
    top: 71px;
    left: 384px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    list-style-type: none; 
    padding: 0; 
}

.navbar-footer li {
    margin-bottom: 21px; 
}

.navbar-footer a {
    color: #ffffff;
    text-decoration: none; 
}

.navbar-footer a:hover {
    text-decoration: underline;
}

.Biedriba{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.Bankas-dati{
    position: absolute;
    top: 45px;
    left: 642px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;
}
.vards{
    font-size: 24px;
}
.kontakti{
    position: absolute;
    top: 60px;
    left: 1002px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: 0;
}
.facebooks{
    margin-right: 29px;
}
.privatum{
    position: relative;
    top: 20px;
    font-size: 14px;
}
@media (max-width: 320px) {
    body, html {
        width: 320px;
        height: 2971px;
    }
    body {
        width: 320px;
        height: 2971px;
    }
}